<ion-header>
  <ion-toolbar>
    <ion-title>
      OTP generator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <form [formGroup]="otpForm" (ngSubmit)="genOTP()">
    <ion-row>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">
            <ion-input type="email" placeholder="Email" formControlName="email">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
              <ng-container *ngFor="let error of error_msg.email">
                  <div class="error-message" *ngIf="otpForm.get('email').hasError(error.type) && 
            (otpForm.get('email').dirty || otpForm.get('email').touched)">
                    {{ error.message }}
                  </div>
              </ng-container>
          </ion-col>
        </ion-row>
        
      </ion-col>
      <ion-col size="4">
        <ion-button type='submit' [disabled]="!otpForm.valid">OTP</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-input type="tel" readonly [value]="otpForm.get('otp').value"></ion-input>
      </ion-col>
    </ion-row>
  </form>
    <ion-row>
      <ion-col size="4">
        Email
      </ion-col>
      <ion-col size="2">
        OTP
      </ion-col>
      <ion-col size="3">
        Action
      </ion-col>
      <ion-col size="3">
        Time left
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of users">
      <ion-col size="4">
        {{user.email}}
      </ion-col>
      <ion-col size="2">
        {{user.otp}}
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="deleteUserInfo(user.id)">
          Delete
        </ion-button>
      </ion-col>
      <ion-col size="3">
        {{user.time_created}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
